*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#ecf0f5;
}
.main-header{
 	background-color:#3c8dbc;
 	top:0;
 	left:0;
 	height:50px;
	width:100%;
	position:fixed;
	z-index:1030;
}
.logo{
	position:fixed;
	margin: 10px 20px;
	font-size:22px;
	text-decoration:none;
}
.logo-mini{
	color:white;
}
.main-sidebar{
	position:fixed;
	top:50px;
	left:0px;
	width:230px;
	height:100%;
	background-color:#222d32;
	
}
.main-sidebar a{
	color:#b8c7ce;
	vertical-align: middle;
}

.sidebar-menu>li{
	margin:0px 5px 0px 0px;
	height:50px;;
	display:block;
	line-height:3;
	box-sizing: border-box;
	
}
.sidebar-menu ul{
	
}
.sidebar-header{
	color:white;
	font-size:12px;
	color:#467;
	background-color:#1a2226;
	padding:12px 5px 12px 15px;
}
.sidebar-menu>li>a{
	border-left: 3px solid transparent;
	height:100%;
	width:100%;
	display:block;
	
}
.sidebar-menu>li>a>span{
	padding-left:20px;
}
.sidebar-menu>li>a:hover{
	background-color:#022222;
	color:#fff;
	
}
.sidebar-menu>li>a:active{
	color:white;
		
}
.sidebar-menu>li>a:visited{
	
	border-left: 3px solid blue;
	
}
a:link{
	text-decoration:none;
}

.main-footer{
	position:fixed;
	left:230px;
	bottom:0;
	width:100%;
	border-top:1px solid #dddddd;
	height:60px;
	background:#eee;
	z-index:1030;
}
.container{
	overflow:hidden;
	padding:10px 0px 40px;
	margin-top:50px;
	margin-left:230px;	
	margin-bottom:50px;
	min-height:500px;
	background-color:transparent;
	z-index:800;
	min-height:400px;
}
.box{
	margin:10px;
	border-color:#eee;
	border-radius:3px;
	box-shadow:0px 0px 5px #eee;
	min-height:500px;
}
.pull-left-img{
	padding:5px;
	
	width:210px;
	height:50px;
}
.pull-left li{
	box-sizing: border-box;
	margin-bottom:10px;
}
.pull-left-info{
	padding: 5px 5px 5px 15px;
    line-height: 1.3;
    position: absolute;
    left: 45px;
    top:6px;
    color:#fff;
   
}
.img-circle{
	border-radius:50%;
	height:45px;
	width:45px;
	
}
.content-header {
    background: transparent;
	position: relative;
    padding: 5px 15px;
}
.box{
	background-color:#fff;
	z-index:800;
}
.box-header{
	padding:10px;
	border-top:3px solid #0cf;
}
.box-body>.table{
	margin-bottom:0;
}

th{
	text-align:start;
}
th,tr,td{
	padding:5px 5px 5px 10px;
	border:1px solid #eee;
	border-collapse:collapse;
}
.table{
	margin:10px 0;
	padding:5px;
	width:100%;
	maxwidth:100%;
	border:1px solid #eee;
	border-collapse:collapse;
}
thead{
	background-color:#fff;
}
tbody{
	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight:normal;
}
h1>small{
	color:#777;
	line-weight:1px;
	font-size:75%;
}
input{
	display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-color:#eee;
    border-radius:4px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
button{
	box-shadow:none;
}
.btn{
	outline:none;
	border-radius:3px;
	display:inline-block;
	padding:6px 12px;
	font-weight:400;
	text-align:center;
	color:#fff;
	margin-bottom:0;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-warning{
	background-color: #f0ad4e;
    border-color: #eea236;
    color:#fff;
}
.btn-warning:hover{
	background-color: #e08e0b;
	border-color: #d58512;
}
.btn-warning:active{
	    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
.btn-danger{
	
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover{
	    color: #fff;
    background-color: #d73925;
    border-color: #ac2925;
}
.btn-danger:active{
	    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-xs{
	padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-primary{
	background-color: #3c8dbc;
    border-color: #367fa9;
    outline:none;
}

.btn-primary:hover{
	color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active{
	color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}